@{
    ViewData["Title"] = "EXPORT DỮ LIỆU RA EXCEL, SỬ DỤNG NPOI";
}

<div class="text-center">
    <h1 class="display-3">EXPORT EXCEL</h1>
    @*<p><a href="/api/fluentexcel/fluentExcelExport" class="btn btn-primary btn-lg">Click here to Export to Excel &raquo;</a></p>*@
    <p><a href="/api/excel/excelExport" class="btn btn-primary btn-lg">Click here to Export to Excel &raquo;</a></p>
</div>
